<form name="purchaseForm" ng-submit="purchaseCtrl.savePurchase()" novalidate>
<div class="row">
                <div class="col-md-12"><h1>Compras <small>Ingresa productos al inventario registrando la factura de tu proveedor</small></h1></div> 
            </div>
            
        <div class="row" ng-show="purchaseCtrl.feedback">
            <div class="col-md-12"><blockquote class="text-success"><p>{{purchaseCtrl.feedback}}</p></blockquote></div>
        </div>
            
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                        <label for="supplierName">Nombre del Proveedor</label>
                        <input type="text" ng-focus="purchaseCtrl.feedback = ''" class="form-control text-uppercase" ng-model="purchaseCtrl.purchase.supplierName" placeholder="Proveedor" required />
                </div>
            </div>
            <div class="col-md-4">
                    <div class="form-group">
                        <label for="invoiceNumber">Número de Factura</label>
                        <input type="text" class="form-control text-uppercase" ng-model="purchaseCtrl.purchase.invoiceNumber" placeholder="# Factura" required />
                    </div>
            </div>
            <div class="col-md-2">
                    <div class="form-group">
                        <label for="invoiceDate">Fecha de la Factura</label>
                        <input type="date" class="form-control"  ng-model="purchaseCtrl.purchase.invoiceDate" placeholder="MM-dd-yyyy" max="{{purchaseCtrl.today}}" required />
                    </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" ng-show="purchaseCtrl.purchase.products.length > 0">
                    <label for="invoiceDate" class="text-muted">_________________</label>
                    <button type="submit" class="btn btn-primary">Guardar compra</button></div></div>
        </div>
        
        <div class="row">
            <div class="col-md-12">  
                    <h3>Lista de productos comprados</h3>
            </div>
            <div class="col-md-4">
                    <div class="form-group">
                        <label for="productName">Nombre Producto</label>
                        <input type="text" class="form-control text-uppercase" ng-model="purchaseCtrl.product.name" placeholder="Producto" />
                    </div>
            </div>
            
            <div class="col-md-1">
                    <div class="form-group">
                        <label for="productCost">Costo</label>
                        <input type="number" class="form-control" ng-model="purchaseCtrl.product.cost" placeholder="$" min="0.1" />
                    </div>
            </div>
            <div class="col-md-1">
                    <div class="form-group">
                        <label for="productQty">Cantidad</label>
                        <input type="number" class="form-control" placeholder="#" ng-model="purchaseCtrl.product.qty"  min="1"/>
                    </div>
            </div>
            
            <div class="col-md-2">
                    <div class="form-group">
                        <label for="productPrice">Precio Venta</label>
                        <input type="number" class="form-control" ng-model="purchaseCtrl.product.price" placeholder="$" min="0.1" />
                    </div>
            </div>
            <div class="col-md-2">
                    <div class="form-group">
                        <label for="productExpirationDate">Fecha de Vencimiento</label>
                        <input type="date" class="form-control"  ng-model="purchaseCtrl.product.expirationDate" placeholder="dd/mm/aaaa" required />
                    </div>
            </div>
            <div class="col-md-2">
                        <div class="form-group">
                            <label for="productPrice" class="text-muted">_________________</label>
                            <button type="button" class="btn btn-default ng-class: {disabled: !purchaseCtrl.isValid(purchaseCtrl.product)}" ng-click="purchaseCtrl.addProduct(purchaseCtrl.product)">Agregar a la lista</button>
                        </div>
                </div>
            
            
                
            </div>
            
            <div class="row text-danger">
                <div class="col-md-4">
                     <div class="form-group text-uppercase">
                    {{purchaseCtrl.product.name}}
                    </div>
                </div>
                <div class="col-md-1">
                     <div class="form-group">
                    {{purchaseCtrl.product.cost | currency}}
                    </div>
                </div>
                <div class="col-md-1">
                     <div class="form-group">
                    {{purchaseCtrl.product.qty}}
                    </div>
                </div>
                <div class="col-md-2">
                     <div class="form-group">
                    {{purchaseCtrl.product.price | currency}}
                    </div>
                </div>
                <div class="col-md-2">
                     <div class="form-group">
                    {{purchaseCtrl.product.expirationDate | date:'dd/MM/yyyy'}}
                    </div>
                </div>
                
                
            </div>
            
            <div class="row">
                
                <table class="table">
                    <tbody >
                        <tr ng-repeat="product in purchaseCtrl.purchase.products track by $index">
                            <td class="col-md-4">{{product.name}}</td>
                            <td class="col-md-1">{{product.cost | currency}}</td>
                            <td class="col-md-1">{{product.qty}}</td>
                            <td class="col-md-2">{{product.price | currency}}</td>
                            <td class="col-md-2">{{(product.expirationDate) ? (product.expirationDate | date:'dd/MM/yyyy') : 'No expira'}}</td>
                            <td class="col-md-2"><a href="#" ng-click="purchaseCtrl.removeProduct($index)">Quitar</a></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            
        </form>