<form name="purchaseForm" ng-submit="purchaseCtrl.savePurchase()" novalidate>

    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <h1 ng-hide="purchaseCtrl.isCredit()">Compras</h1>
            <h1 ng-show="purchaseCtrl.isCredit()">Notas de crédito</h1>
        </div>
        
        
    </div>
    
    
    
    <div class="row" ng-show="purchaseCtrl.feedback">
        <div class="col-md-12"><blockquote class="text-success"><p>{{purchaseCtrl.feedback}}</p></blockquote></div>
    </div>
    
    <div class="row" ng-show="purchaseCtrl.error">
        <div class="col-md-12"><blockquote class="text-danger"><p>{{purchaseCtrl.error}}</p></blockquote></div>
    </div>
    
     <div class="row hidden-xs" ng-show="!purchaseCtrl.isValidInvoice() && !purchaseCtrl.feedback && !purchaseCtrl.isCredit()">
            <div class="col-md-12"><blockquote class="text-info"><p>Para registrar una compra debe registrar los datos de la factura y luego agregar los productos comprados</p></blockquote></div>
        </div>
    
    <div class="row">
        <div class="col-sm-12 col-xs-12">  
            <h3>Datos de la factura</h3>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="supplierAutocomplete">Nombre del Proveedor</label>
                <input type="text" id="supplierAutocomplete" ng-focus="purchaseCtrl.feedback = ''" 
                       class="form-control text-uppercase" 
                       ng-model="purchaseCtrl.purchase.supplierName" placeholder="Proveedor" required />
            </div>
        </div>
        
        <div class="col-md-2 col-sm-4 col-xs-12">
            <div class="form-group">
                <label for="datepickerInvoiceDate">Fecha de la Factura</label>
                <input type="text" id="datepickerInvoiceDate" class="form-control" 
                       ng-model="purchaseCtrl.purchase.invoiceDate" placeholder="dd/mm/aaaa" required />
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="invoiceNumber">Número de Factura</label>
                <input type="text" class="form-control text-uppercase" 
                       ng-model="purchaseCtrl.purchase.invoiceNumber" placeholder="# Factura" required />
            </div>
        </div>
        
        
        
        
        <div class="col-md-2 col-sm-4 col-xs-12">
            <div class="form-group">
                <label for="saveButton" class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <button type="submit" id="saveButton" class="btn btn-primary btn-group-justified ng-class: {disabled : !purchaseCtrl.purchase.products.length > 0}">Guardar compra</button></div>
            </div>
    </div>
        
    <div class="row" ng-show="purchaseCtrl.isValidInvoice()">
        <div class="col-sm-12 col-xs-12">  
            <h3>Productos comprados</h3>
        </div>
        
    </div>
    
       
    
    
    <div class="row" ng-show="purchaseCtrl.isValidInvoice()">
        
        
        
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="productName">Nombre Producto</label>
                <input type="text" id="productAutocomplete" class="form-control text-uppercase" ng-model="purchaseCtrl.product.name" placeholder="Producto" />
            </div>
        </div>
            
            <div class="col-md-2  col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="productCost">Costo</label>
                        <input type="number" class="form-control" ng-model="purchaseCtrl.product.cost" placeholder="$" min="0.1" />
                    </div>
            </div>
            <div class="col-md-1  col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="productQty">Cantidad</label>
                        <input type="number" class="form-control" placeholder="#" ng-model="purchaseCtrl.product.qty"  min="1"/>
                    </div>
            </div>
            
            <div class="col-md-2  col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="productPrice">Precio Venta</label>
                        <input type="number" class="form-control" ng-model="purchaseCtrl.product.price" placeholder="$" min="0.1" />
                    </div>
            </div>
            <div class="col-md-2  col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="productExpirationDate">Vence</label>
                        <input type="text" id="datepickerExpirationDate"
                               class="form-control"  ng-model="purchaseCtrl.product.expirationDate" placeholder="dd/mm/aaaa" required />
                    </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="addToList" class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <button type="button" id="addToList" class="btn btn-default btn-group-justified 
                        ng-class: {disabled: !purchaseCtrl.isValid(purchaseCtrl.product)}" 
                            ng-click="purchaseCtrl.isValid(purchaseCtrl.product) && purchaseCtrl.addProduct(purchaseCtrl.product)">Agregar a la lista</button>
                </div>
            </div>
        
            </div>
            
            <div class="row" ng-repeat="product in purchaseCtrl.purchase.products track by $index">
                <div class="col-md-3 col-sm-6 col-xs-10">
                    <strong class="text-primary">{{product.name}}</strong>
                </div>
                <div class="col-md-2 col-sm-1 hidden-xs">{{product.cost | currency}}</div>
                <div class="col-md-1 col-sm-1 hidden-xs">{{product.qty}}</div>
                <div class="col-md-2 col-sm-1 hidden-xs">{{product.price | currency}}</div>
                <div class="col-md-2 col-sm-2 hidden-xs">
                    {{(product.expirationDate) ? (product.expirationDate | date:'dd/MM/yyyy') : 'No expira'}}</div>
                <div class="col-md-2 col-sm-1 col-xs-1"><a href="#" ng-click="purchaseCtrl.removeProduct($index)">Quitar</a></div>
                                            
            </div>
            
    
    
        </form>