    <div class="row">
        <div class="col-sm-6"><h1>Ventas 
            <small class="hidden-sm hidden-xs">{{salesCtrl.totalSales|currency}}</small></h1>
        </div>
        <div ng-hide="loginCtrl.isSalesUser(loginCtrl.user.profile)" class="col-md-2 col-md-offset-2 col-sm-3 col-xs-6">
            <label for="since">Desde</label>
            <input type="date" class="form-control col-md-4" id="since" 
                ng-change="salesCtrl.salesReport(salesCtrl.since, salesCtrl.until)" ng-model="salesCtrl.since" placeholder="dd/mm/aaaa"/>
        </div>
        <div ng-hide="loginCtrl.isSalesUser(loginCtrl.user.profile)" class="col-md-2 col-sm-3 col-xs-6">
            <label for="until">Hasta</label>
            <input type="date" class="form-control col-md-4" id="until" 
                   ng-change="salesCtrl.salesReport(salesCtrl.since, salesCtrl.until)" ng-model="salesCtrl.until" max="{{page.today()}}" placeholder="dd/mm/aaaa"/>
        </div>
    </div>
    
        
    <div class="row" ng-show="!salesCtrl.sales.length > 0">
        <div class="col-sm-12">
            
            <blockquote class="text-danger" >
                <p>No hay registros de ventas para el rango de fecha desde 
                    {{salesCtrl.since|date: 'dd/MM/yyyy'}} - {{salesCtrl.until|date: 'dd/MM/yyyy'}}</p>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <table class="table" ng-show="salesCtrl.sales.length > 0">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Fecha venta</th>
                    <th class="hidden-xs">Vendido por</th>
                    <th class="hidden-xs">Cantidad</th>
                    <th class="hidden-xs">Descuento</th>
                    <th>Total <b class="text-success">({{salesCtrl.totalSales|currency}})</b></th>
                    
                </tr>
            </thead>
            
            <tbody ng-show="salesCtrl.sales.length > 0">
            <tr ng-repeat="sale in salesCtrl.sales track by salesCtrl.addToTotal(sale)">
                <td><strong class="text-primary">{{sale.product}}</strong></td>
                <td>{{sale.date | date:'dd/MM/yyyy'}}</td>
                <td class="hidden-xs">{{sale.seller}}</td>
                <td class="hidden-xs">{{sale.qty}}</td>
                <td class="hidden-xs">{{sale.discount}}</td>
                <td>{{sale.amount | currency}}</td>
            </tr>
            </tbody>            
            </table>
            
        </div>
    </div>